# **DATA TYPE AND STRUCTURES QUESTIONS**

**1. What are data structures, and why are they important ?**

*Data structures have specialized formet to orgaanised and store data and provide various ways to assces or store data according to specific need *

*data structure is important

*   choosing a well data structure can simplified the implitation like adding a data , removing  and so on.
*   it can optimise searching and storing operations



---

**2. Explain the difference between mutable and immutable data types with example**

*mutable data type are the data type which can be change after the creation and can be mofified according to need
          for example : list*

*immutable data type , which can not be modified after the creation    
          for example : string & tuples*

****

**** 3. what are the main diffrence between lists and tuples in python ?**

*some of the main diffrences are:-*


*   list are created by using  '[ ] ' and tuples are crated by using '( )'
*   lists are consider as mutable where tuples consider as immutable



---

4.**Describe how dictionaries store data**

*dictionaries can not store data directly but can store by using key or value using function or by converting them to lists *



---

5. **Why might you use a set instead of a list in Python?**

*sets dosen't allows duplicate elements and have unordered and unique collection of elements *



---

6.**What is a string in Python, and how is it different from a list**

*string is a sequence of charecter and consider as textual data and that charecter are represent using numerical values  where as list can contain any datatype*



---

7. **How do tuples ensure data integrity in Python**

*tuples are immutable which means it can not change  modified and remain constant life time*



---

8.**What is a hash table, and how does it relate to dictionaries in Python**

*hash table is a datastructer which allows to store a collection of key *



---

9.**Can lists contain different data types in Python**

*yes , lists can contain diffrent type in python*



---

10.**Explain why strings are immutable in Python**

*strings are immutable in python which means it cannot change or modified after creation*



---

11.**What advantages do dictionaries offer over lists for certain tasks**

*dictionaries have unique key values and each key word act as unique identifications for an associated value which means everything canbe find easily*



---

12.**Describe a scenario where using a tuple would be preferable over a list**

*tuples would be preferable over a list when the collection of elements has not to change and want as immutable*



---

13.**How do sets handle duplicate values in Python**

*sets dosen't allows duplicate values or elements which means it dosen't print them*
for example;

In [1]:
s = {1,2,3,4,5,2,1,4,}
s

{1, 2, 3, 4, 5}



---

14.**How does the “in” keyword work differently for lists and dictionaries**

*in lists the key word 'in' use to show that the given word in list is true and really present in list like if a list contains "apple,mango,orange,banana then the 'in' key word shows that apple is in the list is true *  
*In dictionaries the key word 'in' is use to put two things together like student name & marks or vegetables names & price



---

15.**Can you modify the elements of a tuple? Explain why or why not**

*tuple is immutable and can not be modified because once it created it can not modified*



---

16.**What is a nested dictionary, and give an example of its use case**

*in nested dictionary the Dictionaries contain another dictonary as value and these nested dicitionary can be asscess just like other dicitinary*

In [11]:
Dict = { 'Dict1':{'name':'rohan','rollno.':'21'},
        'Dict2': {'name':'jay','rollno.':'22'}}

Dict

{'Dict1': {'name': 'rohan', 'rollno.': '21'},
 'Dict2': {'name': 'jay', 'rollno.': '22'}}



---

17.**Describe the time complexity of accessing elements in a dictionary**

*the time complexity of accessing elements in a dictionary is constant amount of time*



---

18.**In what situations are lists preferred over dictionaries**

*lists can be preferred over dictionaries when the input information has to arranged in normal manner and not in a specific and unique way



---

19.**Why are dictionaries considered unordered, and how does that affect data retrieval**

*dictionaries considered unordered because the elements are not stored in specific order , it ensures consistency in data collection and usege



---

20.**Explain the difference between a list and a dictionary in terms of data retrieval.**

*list is a ordered collection of data where as dictionary is unordered collection of data and by this the elements in list can be access by index which is not possible in dictionary because in this the elements are not assecc by index*



---



---

# Practical Questions

(1)**Write a code to create a string with your name and print it**

In [13]:
string1 = "bhumika"
string1

'bhumika'

(2)**Write a code to find the length of the string "Hello World"**

In [ ]:
str1 = input("please enter your string :")
print("total length of given string = ", len(str1))

please enter your string :hello world
total length of given string =  11

(3)**Write a code to slice the first 3 characters from the string "Python Programming"**

In [ ]:
string1 = "python programming"
string1

'python programming'

In [ ]:
string1[3:]

'hon programming'

(4)**Write a code to convert the string "hello" to uppercase**

In [ ]:
text = "hello"
text.upper()

'HELLO'

(5)**Write a code to replace the word "apple" with "orange" in the string "I like apple"**

In [18]:
string1 = "i like apple"
string1.replace("apple" ,"orange")

'i like orange'

(6)**Write a code to create a list with numbers 1 to 5 and print it**

In [ ]:
list(range(0,6))

[0, 1, 2, 3, 4, 5]

(7)**Write a code to append the number 10 to the list [1, 2, 3, 4]**

In [23]:
list = [1,2,3,4]
list

[1, 2, 3, 4]

In [25]:
list.append(10)
list

[1, 2, 3, 4, 10]

(8)**Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [26]:
list = [1,2,3,4,5]

In [27]:
list.remove(3)

In [28]:
list

[1, 2, 4, 5]

(9)**Write a code to access the second element in the list ['a', 'b', 'c', 'd']**

In [ ]:
alphabets = ['a','b','c','d']

In [ ]:
alphabets

['a', 'b', 'c', 'd']

In [ ]:
alphabets [1]

'b'

(10)**Write a code to reverse the list [10, 20, 30, 40, 50].**

In [37]:
list = ['10','20','30','40','50']
list.reverse()
print(list)

['50', '40', '30', '20', '10']

(11)**Write a code to create a tuple with the elements 10, 20, 30 and print it**

In [ ]:
t = (10,20,30)

(12)**Write a code to create a tuple with the elements 10, 20, 30 and print it**

In [ ]:
t = (10,20,30)

(13)**Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).**

In [38]:
t= (1,2,3,2,4,2)
count = t.count(2)
print(count)

3

(14)**Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [41]:
t = ('dog','cat','rabbit')
t[0]

'dog'

In [42]:
t[1]

'cat'

(15)**Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').**

In [ ]:
t = ('apple','orange','banana')
if 'banana' in t:
  print("banana is in the tuple")

banana is in the tuple

(16)**Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.**

In [ ]:
s = {1,2,3,4,5,}
s

{1, 2, 3, 4, 5}

(17)**Write a code to add the element 6 to the set {1, 2, 3, 4}.**

In [47]:
s = {1,2,3,4,}
s.add(6)
print(s)

{1, 2, 3, 4, 6}

(18)**Write a code to create a tuple with the elements 10, 20, 30 and print it.**

In [ ]:
t = ('10' ,'20','30')

In [ ]:
t

('10', '20', '30')

(19)**Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').**

In [ ]:
t = ("apple" , "banana" , "cherry")

In [ ]:
t[0]

'apple'

(20)**Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)**

In [52]:
t=(1,2,3,2,4,2)
count = t.count(2)
print(count)

3

(21)**Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [48]:
t=('dog','cat','rabbit')
t[1]

'cat'

(22)**Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').**

In [ ]:
t = ('apple','orange','banana')
if 'banana' in t:
  print("banana is in the tuple")

banana is in the tuple

(23)**Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.**

In [ ]:
s={1,2,3,4,5,}
s

{1, 2, 3, 4, 5}

(24)**Write a code to add the element 6 to the set {1, 2, 3, 4}.**

In [49]:
s= {1,2,3,4}
s.add(6)
print(s)

{1, 2, 3, 4, 6}